
<div id="content">
    <div class="page-head">
        <h2 class="page-head-title"></h2>
        <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Drivers</a></li>
            <li class="active"> Driver Information</li>
        </ol>
    </div>
    <div class="main-content container-fluid">

        <div id="sucessdiv" style="display: none">

            <div class="alert alert-success fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-check"></i>
                <strong>Success</strong> <span id="successmsg"> </span>
            </div>
        </div>
        <div id="errordiv" style="display: none">
            <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-times"></i>
                <strong>Error!</strong> <span id="errormsg"> </span>
            </div>
        </div>
        <form id="updatedriverForm" novalidate>
            {{csrf_field()}}

            <div class="row">

                <h3>{{$details['othernames'] .' '.$details['surname']}}'s  information
                    <br>
<!--                    <<small>Simple Tabs</small>
                    -->
                </h3>
                <input type="hidden" name="driverno" value="{{$details['driverRegNo']}}"/>

                <div id="tabs">
                    <ul>
                        <li>
                            <a href="#tabs-a">Personal Details</a>
                        </li>
                        <li>
                            <a href="#tabs-b">Passport Details</a>
                        </li>
                        <li>
                            <a href="#tabs-c">Other Data</a>
                        </li>
                        <li>
                            <a href="#tabs-d">Vehicles</a>
                        </li>
                        <li>
                            <a href="#tabs-e">Trips</a>
                        </li>

                    </ul>






                    <div id="tabs-a" class="panel-body">

                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Surname</label>

                                    <input type="text" name="surname" value="{{$details['surname']}}" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Other Names</label>

                                    <input type="text" name="othernames" value="{{$details['othernames']}}" class="form-control">
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Sex</label>

                                    <select class="select2 gender" name="gender"  tabindex="-1" aria-hidden="true" required>

                                        <option value="{{$details['gender']}}">{{$details['gender']}}</option>

                                    </select>

                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Date Of Birth</label>

                                    <input type="text" name="dob" value="{{$details['dob']}}"  class="form-control datepicker" data-dateformat="yy-mm-dd">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Email Address</label>

                                    <input type="email" name="email" value="{{$details['email']}}"  class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Local Phone No</label>

                                    <input type="text" name="localPhone" value="{{$details['localPhone']}}"  class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Overseas Phone No</label>

                                    <input type="text" name="foreignPhone"  value="{{$details['foreignPhone']}}" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Resident Country</label>


                                    <select class="select2 countries" name="residentCountryId"  tabindex="-1" aria-hidden="true" required>

                                        <option value="{{$details['residentCountry']}}">{{$details['residentCountry']}}</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Country Of Origin</label>


                                    <select class="select2 countries" name="countryCode"  tabindex="-1" aria-hidden="true" required>

                                        <option value="{{$details['country']}}">{{$details['country']}}</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class=" control-label">Local Address</label>
                                    <textarea name="localAddress" rows="10" class="form-control">
                                        {{$details['localAddress']}}
                                    </textarea>

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class=" control-label">Overseas Address</label>
                                    <textarea name="foreignAddress" rows="10" class="form-control">
                                         {{$details['foreignAddress']}}
                                    </textarea>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">National ID Type</label>

                                    <select class="select2 idtypes" name="nationalIdType"  required>

                                        <option value="{{$details['nationalIdType']}}">{{$details['nationalIdType']}}</option>

                                    </select>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Nationality ID Number</label>

                                    <input type="text" value="{{$details['nationalId']}}"  name="nationalId" class="form-control">
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">License Number</label>

                                    <input type="text" name="licenceNo" value="{{$details['licenceNo']}}"  class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Date of Issue </label>

                                    <input type="text" name="issueDate" value="{{$details['issueDate']}}" class="form-control datepicker" data-dateformat="yy-mm-dd">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Date of Expiry </label>

                                    <input type="text" name="expiryDate" value="{{$details['expiryDate']}}" class="form-control datepicker" data-dateformat="yy-mm-dd">
                                </div>
                            </div>

                        </div>

                    </div>

                    <div id="tabs-b" class="panel-body">

                        <!-- widget content -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Passport Number</label>

                                    <input type="text" name="passportNo" value="{{$details['passportNo']}}"  class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Date of Issue </label>

                                    <input type="text" data-dateformat="yy-mm-dd" value="{{$details['passportIssueDate']}}" name="passportIssueDate" class="form-control datepicker">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class=" control-label">Date of Expiry </label>

                                    <input type="text" data-dateformat="yy-mm-dd" value="{{$details['passportExpiryDate']}}" name="passportExpiryDate" class="form-control datepicker">
                                </div>
                            </div>


                        </div>

                    </div>

                    <div id="tabs-c" class="panel-body">
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row col-lg-12">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class=" control-label">Reg. Date of Issue </label>

                                        <input type="text"  name="regIssueDate"  value="{{$details['regIssueDate']}}" class="form-control datepicker">
                                    </div>
                                    <div class="form-group">
                                        <label class=" control-label">Reg. Date of  Expiry </label>

                                        <input type="text" data-dateformat="yyyy-mm-dd" value="{{$details['regExpiryDate']}}" name="regExpiryDate" class="form-control datepicker">
                                    </div>


                                </div>
                                <div class="col-sm-6">


                                    <div class="form-group">
                                        <label class=" control-label">Remarks</label>
                                        <textarea name="remarks" rows="10" class="form-control">
                                                 
                                             {{$details['remarks']}}


                                        </textarea>


                                    </div>
                                </div>


                            </div>



                        </div>
                        <!-- end widget content -->


                    </div>

                    <div id="tabs-d" class="panel-body">

                        <table id="vehicleTbl" class="table table-condensed table-hover table-bordered table-striped">
                            <thead>
                                <tr>

                                    <th>Registration No</th>  
                                    <th>Assigned At</th>  

                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                foreach ($details['vehicles'] as $value) {
                                    echo '<tr>'
                                    . '<td>'
                                    . $value['vehicleRegNo']
                                    . '</td>'
                                    . '<td>'
                                    . $value['assignedAt']
                                    . '</td>'
                                    . '<td><a  href="../../vehicles/information/' . $value['vehicleRegNo'] . '"   type="button" class=" btn btn-labeled btn-primary btn-sm  col-sm-6" ><i class="glyphicon glyphicon-eye-open"></i> </a> ' .
                                    '<a  href="#"   type="button" class=" btn btn-labeled btn-danger btn-sm  col-sm-6" ><i class="glyphicon glyphicon-trash"></i></a> '
                                    . '</td>'
                                    . '</tr>';
                                }
                                ?>


                            </tbody>
                        </table>
                    </div>


                    <div id="tabs-e" class="panel-body">
                        <div class="row"  >
                            <div class="col-lg-12">
                                <div class="pull-left">
                                    <button data-toggle="modal" data-target="#newtrip" type="button" class="btn btn-space btn-primary">New Trip</button>
                                    <!--                    <a  class="btn btn-primary" href="bulk-beneficiary-upload" >New Category</a>-->

                                </div>

                            </div>

                        </div>
                        <br>
                        <table id="tripsTbl" class="table table-condensed table-hover table-bordered table-striped">
                            <thead>
                                <tr>

                                    <th>Trip Type</th>  
                                    <th>Final Country</th>  
                                    <th>Vehicle(Front Plate)</th>  
                                    <th>Driver</th> 
                                    <th>Check In</th> 

                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                foreach ($trips['data'] as $value) {
                                    echo '<tr>'
                                    . '<td>'
                                    . $value['tripType']
                                    . '</td>'
                                    . '<td>'
                                    . $value['finalCountry']
                                    . '</td>'
                                    . '<td>'
                                    . $value['vehicle']['frontPlateNo']
                                    . '</td>'
                                    . '<td>'
                                    . $value['driver']['othernames'] . ' ' . $value['driver']['surname']
                                    . '</td>'
                                    . '<td>'
                                    . $value['checkInOn']
                                    . '</td>'
                                    . '<td><a   href="../../trip/' . $value['tripNo'] . '"    type="button" class=" btn btn-labeled btn-primary btn-sm  col-sm-6" ><i class="glyphicon glyphicon-eye-open"></i> </a></td> '
                                    . '</tr>';
                                }
                                ?>


                            </tbody>
                        </table>
                    </div>

                </div>




            </div>
            <footer class="pull-right">
                <button type="submit" class="btn btn-primary btn-block">
                    Update
                </button>
            </footer>

        </form>
    </div>

</div>
